/* reset */
html, body {
	width: 100%;
	height: 100%;
}

body {
	font-family: Lato;
	background-color: $color-1;
	padding-top: $padding-top;
	color: $color0;
}

h1, h2, h3, h4, h5, h6 {
	margin:0;
	text-transform: uppercase;
}

h2 {
	color: $color4;
}
h3 {
	color: $color5;
}

a {
	color: inherit;
	&:hover, &:active, &:focus, &:focus, &:visited {
		color: inherit;
		text-decoration: none;
	}
	&[ng-click] {
		cursor: pointer;
	}
}
form {
	position: relative;
}

label {
	line-height: 32px;
	font-weight: normal;
	* {
		margin-left: 8px;
		background: none;
		vertical-align: middle;
	}
}

hr {
	border-color: $color-1;
	margin-top: 8px;
}

/* end reset */


.nav-tabs {
	margin-bottom: 15px;
}

.logo {
	display: block;
	font-family: 'Poiret One', cursive;
	text-transform: uppercase;
	font-size: 3em;
	color: $color2;
	font-weight: 400;
}


[dropdown] {
	.menu {
		display: none;
		width: auto;
		position: absolute;
		top: 100%;
		background-color: white;
		padding: 0;
		list-style: none;
		line-height: normal;
		right: 0;
		white-space: nowrap;
		min-width: 200px;
		@extend .shadow;
		border: 1px solid $color-1;
		&:before {
			content: '';
			display: block;
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 0 10px 10px 10px;
			border-color: transparent transparent white transparent;

			position: absolute;
			bottom: 100%;
			right: 30px;
		}
		li {
			a {
				display: block;
				padding: 15px;
				&:hover {
					color: black;
				}
			}
		}
	}

	&.active {
		.menu {
			display: block;
		}
	}
}

.app {
	.wrap {
		width: 100%;
		min-height: 100%;
		max-width: 100%;
		overflow-x: hidden;
		position: relative;
		.wrap-aside {
			@extend .shadow;
			overflow-y: auto;
			z-index: 9;
			@include transition( transform 0.4s );
			$width: 300px;

			color:white;

			position: fixed;
			top: $padding-top - 15px;
			bottom: 0;

			left: -$width;
			width: $width;

			background-color: $color1;

			nav {
				.group {
					& > a:first-of-type {
						text-transform: uppercase;
						background-color: $color1 * 1.25;
						padding: 1em;
					}

					a {
						display: block;
						padding: 1em 1em 1em 2em;
						background-color: $color1 * 1.45;
						border-bottom: 1px solid $color1;
					}

					.fa {
						margin-right: 0.5em;
					}

					ul {
						display: none;
						margin:0;
						li {
							display: block;
						}
					}
				}
			}

			&.active {
				@include transform( translate($width) );
				& ~ .wrap-content {
					padding-left: $width;
				}
				& ~ .loading {
					margin-left: 300px;
				}
			}
		}
		.wrap-content {
			@include transition( padding 0.4s );
			width: 100%;
			min-height: 100%;
			padding-bottom: 2em;
		}
	}

	.special.a-cell {
		& > * {
			text-align: center;
			text-transform: uppercase;
			font-size: 4em;
			color: $color5;
		}
	}

	.panel {
		@extend .shadow;
		margin-bottom: 30px;

		.fa {
			margin-right: 7.5px;
		}
		h2 {
			font-size: 1.4em;
			text-transform: uppercase;
		}
	}
}


.loading {
	z-index: 9;
	@include transition( 0.4s );
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba($color-1, 0.85);
	margin-left: 0;
	text-align: center;
	font-size: 4em;
	color: $color0;
}
.upload-placeholder {
	$color: $color-1 / 1.2;
	width: 100%;
	height: 300px;
	border: 3px dashed $color;
	text-align: center;
	font-size: 1em;
	text-transform: uppercase;
	padding: 15px;
	color: $color;
}

input.form-control {
	@include border-radius(2px);
}

.plain {
	margin:0;
	padding:0;
	display:block;
	background: none;
	border: none;
	list-style: none;
}

.clear-button {
	position: absolute;
	top:50%;
	margin-top: -18px;
	right: 15px;
}