header {
	@include transform( translate3d(0,0,0) );
	position: fixed;
	top: 0;
	right:0;
	left:0;
	z-index: 10;
	background-color: white;
	border-bottom: 1px solid #ddd;
	line-height: 73px;

	@extend .shadow;

	.breadcrumps {
		@extend .logo;
		@extend .mere-list;
		margin:0;
		font-size: 3.5em;
		color: $color2;
		li:not(:first-of-type) {
			font-size: 0.5em;
			vertical-align: bottom;
			&:before {
				content: '\f101';
				font-family: FontAwesome;
				display: block;
				float:left;
				padding: 0 15px;
			}
		}
	}
	.user {
		cursor: pointer;
		position: relative;
		.icon {
			border: 1px solid $color-1;
			height: 32px;
			width: 32px;
			overflow: hidden;
			margin-top: 21px;
			margin-right: 8px;
			margin-left: 8px;
			@include border-radius( 25px );
			img {
				display: block;
				margin:auto;
				width: auto;
				height: 100%;
			}
		}
	}

	.menu {
		margin-top: 15px;
	}

	#toggle-menu {
		display: block;
		float:left;
		margin-right: 15px;
	}

}