.a-table {
	display: table;
	width: 100%;
	height: 100%;
}

.a-cell {
	display: table-cell;
	vertical-align:middle;
}

.an-image {
	background-size: contain;
	background-repeat: no-repeat;
	background-color: #e3e3e3;
}