/* Coolors Exported Palette - coolors.co/50514f-f25f5c-ffe066-247ba0-70c1b3 */

$color-1: #ddd; // grey like
$color0: #3a3a3a; // grey like
$color1: #50514f; // black like
$color2: #f25f5c; // red like
$color3: #ffe066; // yellow like
$color4: #247ba0; // blue like
$color5: #70c1b3; // green like

$padding-top: 73px + 15px;

/* mixins */
@mixin border-radius($radius) {
	border-radius: $radius;
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	-o-border-radius: $radius;
}

@mixin box-shadow($value) {
	box-shadow: $value;
	-webkit-box-shadow: $value;
	-moz-box-shadow: $value;
	-o-box-shadow: $value;
}

@mixin transform($value) {
	transform: $value;
	-webkit-transform: $value;
	-moz-transform: $value;
	-o-transform: $value;
}

@mixin transition($value) {
	transition: $value;
	-webkit-transition: $value;
	-moz-transition: $value;
	-o-transition: $value;
}

.shadow {
	@include box-shadow( ( 1px 3px 4px rgba(0,0,0,0.06), -1px 3px 4px rgba(0,0,0,0.06) ) );
}

.mere-list {
	padding:0;
	list-style:none;

	li {
		display: block;
	}
	&:after {
		content: ' ';
		display: block;
		clear: both;
	}

	&.horizontal {
		li {
			float: left;
		}
	}
}