<form ng-submit="save()">
	<div ng-class="{hidden: !loading}" class="loading">
		<div class="a-table">
			<div class="a-cell">
				<i class="fa fa-spinner fa-pulse"></i>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-8">
			<div ng-show="!!report.feeds" class="alert shadow" ng-class="report.el.class">
				<ul>
					<li ng-repeat="(key, value) in report.feeds" ng-bind="typeof(value)==='array'? value[0] : value"></li>
				</ul>
			</div>

			<div class="panel panel-default">
				<div class="panel-heading">
					<h2>
						Info
					</h2>
				</div>
				<div class="panel-body">
					<input ng-model="name" name="name" type="text" placeholder="Enter the attachment name" class="form-control input-lg">
				</div>
			</div>

			<div class="panel panel-default">
				<div class="panel-heading">
					<h2>
						Data
					</h2>
				</div>
				<div class="panel-body">
					<div class="row">
						<div class="col-md-6">
							<select class="form-control">
								<option disabled="disabled" selected="selected">Select the attachment Type</option>
								<option value="">Video</option>
								<option value="">Audio</option>
								<option value="">Image</option>
							</select>
						</div>
						<div class="col-md-6">
							<input class="form-control" type="file">
						</div>
						<div class="clearfix"></div>
					</div>
				</div>
			</div>
		</div>
		<aside class="col-md-4">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h2>
						Actions
					</h2>
				</div>
				<div class="panel-body">
					<div class="row">
						<div class="col-md-6">
							<button type="submit" ng-click="setAction()" class="btn btn-block btn-default">Save</button>
						</div>
						<div class="col-md-6">
							<button type="submit" ng-click="setAction('delete')" class="btn btn-block btn-danger">Delete</button>
						</div>
					</div>
				</div>
			</div>


			<div class="panel panel-default">
				<div class="panel-heading">
					<h2>
						Project
					</h2>
				</div>
				<div class="panel-body">
					<div class="form-group">
						<select class="form-control">
							<option selected="selected" disabled="disabled">Select a project</option>
						</select>
					</div>
				</div>
			</div>


		</aside>
		<div class="clearfix"></div>
	</div>
</form>