<div class="row">
	<div class="col-sm-8">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h2>
					Info
				</h2>
			</div>
			<div class="panel-body">
				Info
			</div>
		</div>
	</div>
	<div class="col-sm-4">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h2>
					<a href="categories">
						Actions
					</a>
				</h2>
			</div>
			<div class="panel-body">
				Lorem ipsum Sit deserunt dolor officia aliqua est in labore labore adipisicing anim qui consectetur in eiusmod nisi proident incididunt in mollit magna deserunt ut quis commodo aliqua nulla officia mollit voluptate dolore et.
			</div>
		</div>
	</div>
	<div class="clearfix"></div>
</div>