<div class="row">
	<div class="col-sm-8">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h2>
					<a href="categories">
						<i class="fa fa-flag"></i>
						Categories
					</a>
				</h2>
			</div>
			<div class="panel-body">
				<table class="table table-hover">
					<thead>
						<tr>
							<th>
								<input type="checkbox">
							</th>
							<th>
								Name
							</th>
							<th>
								Number of categories
							</th>
							<th>
								Created At
							</th>
							<th>
								Last Update
							</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="n in [1, 2, 3, 4, 5]">
							<td>
								<input type="checkbox">
							</td>
							<td>
								<a href="#">
								Lorem Ipsum {{ n }}
								</a>
							</td>
							<td>
								47
							</td>
							<td>
								Jun 15, 2015
							</td>
							<td>
								Jun 17, 2015
							</td>
						</tr>
					</tbody>
				</table>
				<ul class="pagination">
				    <li>
				        <a href="#" aria-label="Previous">
				            <span aria-hidden="true">&laquo;</span>
				        </a>
				    </li>
				    <li><a href="#">1</a></li>
				    <li><a href="#">2</a></li>
				    <li><a href="#">3</a></li>
				    <li><a href="#">4</a></li>
				    <li><a href="#">5</a></li>
				    <li>
				        <a href="#" aria-label="Next">
				            <span aria-hidden="true">&raquo;</span>
				        </a>
				    </li>
				</ul>

			</div>
		</div>
	</div>
	<div class="col-sm-4">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h2>
					<a href="categories">
						Actions
					</a>
				</h2>
			</div>
			<div class="panel-body">
				Lorem ipsum Sit deserunt dolor officia aliqua est in labore labore adipisicing anim qui consectetur in eiusmod nisi proident incididunt in mollit magna deserunt ut quis commodo aliqua nulla officia mollit voluptate dolore et.
			</div>
		</div>
	</div>
	<div class="clearfix"></div>
</div>