<div class="row">
	<div class="col-sm-6">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h2>
					<a href="projects">
						<i class="fa fa-briefcase"></i>
						Projects
					</a>
				</h2>
			</div>
			<div class="panel-body">
				<ul>
					<li>
						<a href="projects">
							All Projects
						</a>
					</li>
					<li>
						<a href="projects/create">
							Create New Project
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="col-sm-6">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h2>
					<a href="attachments">
						<i class="fa fa-briefcase"></i>
						Attachments
					</a>
				</h2>
			</div>
			<div class="panel-body">
				<ul>
					<li>
						<a href="attachments">
							All Attachments
						</a>
					</li>
					<li>
						<a href="attachments/create">
							Create New Attachment
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="col-sm-6">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h2>
					<a href="markers">
						<i class="fa fa-paperclip"></i>
						Markers
					</a>
				</h2>
			</div>
			<div class="panel-body">
				<ul>
					<li>
						<a href="markers">
							All Markers
						</a>
					</li>
					<li>
						<a href="markers/create">
							Create New Marker
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="col-sm-6">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h2>
					<a href="categories">
						<i class="fa fa-flag"></i>
						Categories
					</a>
				</h2>
			</div>
			<div class="panel-body">
				<ul>
					<li>
						<a href="categories">
							All Categories
						</a>
					</li>
					<li>
						<a href="categories/create">
							Create New Category
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="clearfix"></div>
</div>