<div class="row">
	<div class="col-sm-8">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h2>
					<a href="markers">
						<i class="fa fa-bookmark"></i>
						Markers
					</a>
				</h2>
			</div>
			<div table class="panel-body">
				<div ng-class="{hidden: !loading}" class="loading">
				    <div class="a-table">
				        <div class="a-cell">
				            <i class="fa fa-spinner fa-pulse"></i>
				        </div>
				    </div>
				</div>

				<table class="table table-hover">
					<thead>
						<tr>
							<th>
								<input id="select-all" type="checkbox">
							</th>
							<th>
								Name
							</th>
							<th>
								URL
							</th>
							<th>
								Created At
							</th>
							<th>
								Last Update
							</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="markers in markers">
							<td>
								<input name="id" ng-value="{{ markers.id }}" type="checkbox">
							</td>
							<td>
								<a ng-href="markers/{{ markers.id }}" ng-bind="markers.name"></a>
							</td>
							<td ng-bind="markers.url"></td>
							<td ng-bind="markers.created_at"></td>
							<td ng-bind="markers.updated_at"></td>
						</tr>
					</tbody>
				</table>
				<ul class="pagination">
				    <li ng-class="{disabled: paged == 1}">
				        <a ng-href="#{{paged == 1 ? '' : paged - 1}}">
				            <span aria-hidden="true">&laquo;</span>
				        </a>
				    </li>

				    <li ng-repeat="n in numberOfpages" ng-class="{active: $first}"><a ng-href="#{{n}}" ng-bind="n"></a></li>

				    <li ng-class="{ disabled: paged == maxNumberOfpages }">
				        <a ng-href="#{{paged == maxNumberOfpages ? '' : paged + 1}}">
				            <span aria-hidden="true">&raquo;</span>
				        </a>
				    </li>
				</ul>

			</div>
		</div>
	</div>
	<div class="col-sm-4">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h2>
					<a href="attachments">
						Actions
					</a>
				</h2>
			</div>
			<div class="panel-body">
				<form novalidate ng-submit="searchSubmit()">
					<div class="row">
						<div class="col-xs-9">
							<div class="form-group">
								<input placeholder="Search.." class="form-control" ng-model="searchQuery" type="text">
								<button ng-click="clearSearchQuery()" class="plain clear-button" ng-show="!!searchQuery.length">
									<i class="fa fa-times"></i>
								</button>
							</div>
						</div>
						<div class="col-sm-3">
							<div class="form-group">
								<button class="btn btn-default btn-block">
									<i class="fa fa-search"></i>
								</button>
							</div>
						</div>
						<div class="col-sm-12">
							<div class="row">
								<hr>
								<div class="col-sm-6">
									<a href="attachments/create" class="btn btn-block btn-default">Create new attachment</a>
								</div>
								<div ng-show="!!itemToDelete.length" class="col-sm-6">
									<button ng-click="delete()" class="btn btn-block btn-danger">Delete selected items</button>
								</div>
								<div class="clearfix"></div>
							</div>
						</div>
						<div class="clearfix"></div>
					</div>
				</form>
			</div>
		</div>
	</div>
	<div class="clearfix"></div>
</div>