<form ng-submit="save()" enctype="multipart/form-data">
	<div ng-class="{hidden: !loading}" class="loading">
		<div class="a-table">
			<div class="a-cell">
				<i class="fa fa-spinner fa-pulse"></i>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-8">
			<div ng-show="!!report.feeds" class="alert shadow" ng-class="report.el.class">
				<ul>
					<li ng-repeat="(key, value) in report.feeds" ng-bind="typeof(value)==='array'? value[0] : value"></li>
				</ul>
			</div>

			<div class="panel panel-default">
				<div class="panel-heading">
					<h2>
						Info
					</h2>
				</div>
				<div class="panel-body">
					<input ng-model="name" name="name" type="text" placeholder="Enter the marker name" class="form-control input-lg">
				</div>
			</div>

			<div class="panel panel-default">
				<div class="panel-heading">
					<h2>
						Relationships
					</h2>
				</div>
				<div class="panel-body">



					<div class="panel panel-default">
						<div class="panel-heading">
							<h2>
								Project
							</h2>
						</div>
						<div class="panel-body">
							<div class="form-group">
								<label>Select a project</label>
								<select ng-model="project" class="form-control" convert-to-number>
									<optgroup label="Select a project">
										<option value="" ng-selected="!project">--</option>
										<option ng-repeat="project in projects" ng-bind="project.name" ng-value="project.id"></option>
									</optgroup>
								</select>
							</div>
						</div>
					</div>

					<div ng-show="!!attachments.length" class="panel panel-default">
						<div class="panel-heading">
							<h2>
								Attachments
							</h2>
						</div>
						<div class="panel-body">
							<table table-flexible class="table">
								<thead>
									<tr>
										<th>
											<input type="checkbox" ng-model="checkAll">
										</th>
										<th>Name</th>
										<th>Type</th>
										<th>Created at</th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="attachment in attachments">
										<td>
											<input ng-value="attachment.id" type="checkbox">
										</td>
										<td ng-bind="attachment.name"></td>
										<td ng-bind="attachment.type"></td>
										<td ng-bind="attachment.created_at"></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>


				</div>
			</div>

		</div>
		<aside class="col-md-4">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h2>
						Actions
					</h2>
				</div>
				<div class="panel-body">
					<div class="row">
						<div class="col-md-6">
							<button type="submit" ng-click="setAction()" class="btn btn-block btn-default">Save</button>
						</div>
						<div class="col-md-6">
							<button type="submit" ng-click="setAction('delete')" class="btn btn-block btn-danger">Delete</button>
						</div>
					</div>
				</div>
			</div>

			<div class="panel panel-default">
				<div class="panel-heading">
					<h2>
						Data
					</h2>
				</div>
				<div class="panel-body">
					<div class="row">
						<div class="col-md-12">
							<div class="form-group">
								<label>Select a type</label>
								<select ng-model="type" class="form-control">
									<optgroup label="Select the marker type">
										<option ng-selected="!type" value="">--</option>
										<option value="video">Video</option>
										<option value="audio">audio</option>
										<option value="image">Image</option>
										<option value="image">Album</option>
									</optgroup>
								</select>
							</div>
						</div>
						<div class="col-md-12">
							<div class="form-group">
								<label>
									Select the marker image
									<input class="form-control" type="file">
								</label>
							</div>
						</div>
						<div class="clearfix"></div>
					</div>
				</div>
			</div>


		</aside>
		<div class="clearfix"></div>
	</div>
</form>