<form ng-submit="save()">
	<div ng-class="{hidden: !loading}" class="loading">
		<div class="a-table">
			<div class="a-cell">
				<i class="fa fa-spinner fa-pulse"></i>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-8">
			<div ng-show="!!report.feeds" class="alert shadow" ng-class="report.el.class">
				<ul>
					<li ng-repeat="(key, value) in report.feeds" ng-bind="typeof(value)==='array'? value[0] : value"></li>
				</ul>
			</div>

			<div class="panel panel-default">
				<div class="panel-heading">
					<h2>
						Project Info
					</h2>
				</div>
				<div class="panel-body">
					<input ng-model="name" name="name" type="text" placeholder="Enter the project name" class="form-control input-lg">
				</div>
			</div>

			<div class="panel panel-default">
				<div class="panel-heading">
					<h2>
						Markers
					</h2>
				</div>
				<div class="panel-body">

					<div tabs>
					    <!-- Nav tabs -->
					    <ul class="nav nav-tabs">
					        <li class="active">
						        <a href="#existing-makers">Existing Markers</a>
					        </li>
					        <li>
						        <a href="#create-new-marker">Create New Marker</a>
					        </li>
					    </ul>

					    <!-- Tab panes -->
					    <div class="tab-content">
					        <div class="tab-pane active" id="existing-makers">
								<table class="table table-hover">
									<thead>
										<tr>
											<th>
												<input type="checkbox">
											</th>
											<th>
												Name
											</th>
											<th>
												Number of Attachments
											</th>
											<th>
												Created At
											</th>
											<th>
												Last Update
											</th>
										</tr>
									</thead>
									<tbody>
										<tr ng-repeat="n in [1,2,3,4,5]">
											<td>
												<input type="checkbox">
											</td>
											<td>
												<a ng-href="#">Lorem ipsum Do</a>
											</td>
											<td>
												888
											</td>
											<td>Jun 25, 2015</td>
											<td>Jun 25, 2015</td>
										</tr>
									</tbody>
								</table>
								<ul class="pagination">
								    <li>
								        <a href="#" aria-label="Previous">
								            <span aria-hidden="true">&laquo;</span>
								        </a>
								    </li>

								    <li ng-repeat="n in numberOfpages"><a ng-href="projects?paged={{n}}" ng-bind="n"></a></li>
								    <li>
								        <a href="#" aria-label="Next">
								            <span aria-hidden="true">&raquo;</span>
								        </a>
								    </li>
								</ul>
					        </div>
					        <div class="tab-pane" id="create-new-marker">
					        	<div class="row">
					        		<div class="col-md-6">
							        	<div class="form-group">
							        		<input class="form-control" placeholder="Marker name">
							        	</div>
							        	<div class="form-group">
							        		<select class="form-control">
							        			<option disabled="disabled" selected>
							        				Select type
							        			</option>
							        			<option>Image</option>
							        			<option>Album</option>
							        			<option>Video</option>
							        		</select>
							        	</div>
					        		</div>
					        		<div class="col-md-6">
					        			<div class="upload-placeholder">
					        				<div class="a-table">
					        					<div class="a-cell">
					        						Drag & drop the image
					        					</div>
					        				</div>
					        			</div>
					        		</div>
					        		<div class="clearfix"></div>
					        	</div>
					        </div>
					    </div>
					</div>
				</div>
			</div>
		</div>
		<aside class="col-md-4">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h2>
						Actions
					</h2>
				</div>
				<div class="panel-body">
					<div class="row">
						<div class="col-md-6">
							<button type="submit" ng-click="setAction()" class="btn btn-block btn-default">Save</button>
						</div>
						<div class="col-md-6">
							<button type="submit" ng-click="setAction('delete')" class="btn btn-block btn-danger">Delete</button>
						</div>
					</div>
				</div>
			</div>

			<fieldset class="panel panel-default hidden" disabled="disabled">
				<div class="panel-heading">
					<h2>
						Connections
					</h2>
				</div>
				<div class="panel-body">
					<div class="panel panel-default">
						<div class="panel-heading">
							Amazon S3
						</div>
						<div class="panel-body">
							<div class="form-group">
								<input ng-model="amazon.id" type="text" placeholder="Enter the Amazon access id" class="form-control">
							</div>
							<div class="form-group">
								<input ng-model="amazon.key" type="text" placeholder="Enter the Amazon access key" class="form-control">
							</div>
							<div class="form-group">
								<input ng-model="amazon.region" type="text" placeholder="Enter the Amazon region" class="form-control">
							</div>
							<div class="form-group">
								<input ng-model="amazon.bucket" type="text" placeholder="Enter the Amazon bucket" class="form-control">
							</div>
						</div>
					</div>

					<div class="panel panel-default">
						<div class="panel-heading">
							Vuforia Clould
						</div>
						<div class="panel-body">
							<div class="form-group">
								<input ng-model="vuforia.access" type="text" placeholder="Enter the Vuforia access key" class="form-control">
							</div>
							<div class="form-group">
								<input ng-model="vuforia.secret" type="text" placeholder="Enter the Vuforia secret key" class="form-control">
							</div>
						</div>
					</div>
				</div>
			</fieldset>
		</aside>
		<div class="clearfix"></div>
	</div>
</form>